html {
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    -webkit-box-shadow: 6px 11px 26px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 11px 26px -10px rgba(0,0,0,0.75);
    box-shadow: 6px 11px 26px -10px rgba(0,0,0,0.75);
    height: 740px;
    width: 360px;
    background: #424b54;
    border-radius: 25px;
    border-top: 1px solid transparent;
    margin: 100px auto;   
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px;
    font-size: 25px;
    color: #f6f7eb;   
}
.top-bar p {
    font-size: 15px;
    letter-spacing: 1.5px;
}
.screen {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 60px;
    height: 150px;
    width: 100%;
    background: #93a8ac;
}
.screen p {
    margin-right: 20px;
    color: #424b54;
}
.screen h2 {
    margin-right: 20px;
    font-size: 50px;
    color: #f6f7eb;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
li {
    background: #e94f37;
    color: #f6f7eb;
    height: 60px;
    width: 60px;
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
